<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include navbar.html %}
    <div class="content">
      {{ content }}
    </div>
    <div id="283544290">
    <script type="text/javascript">
        try {
            window._mNHandle.queue.push(function (){
                window._mNDetails.loadTag("283544290", "160x600", "283544290");
            });
        }
        catch (error) {}
    </script>
</div>
    {% include footer.html %}
    {% include analytics.html %}
  </body>
</html>
